#map {
  height: 700px;
  width: 100%;
  border-radius: 18px;
  position: relative;
}


.maplibregl-popup-content {
  background-color: var(--primary-color) !important;
  /* The important forces the browser to prioritize this style */
  border-radius: 14px !important;
  padding: 16px !important;
  border: 1px solid #1e2a3a !important;
  /* Subtle border */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6) !important;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: #111827 !important;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #111827 !important;
}

.streetlight-popup {
  min-width: 200px;
  font-family: var(--font-body);
  color: var(--bg-white);
}

.popup-title {
  margin: 0 0 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--text-dark);
  color: var(--text-dark-subtle);
  font-size: 13px;
  font-family: var(--font-body);
  font-weight: 500;
}

.popup-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 8px;
  font-size: 13px;
}

.label {
  font-weight: 400;
  color: var(--text-dark-subtle);
}

.value {
  color: var(--text-dark-subtle);
  text-align: left;
}

.basemap-legend {
  position: absolute;
  bottom: 16px;
  left:32px;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--text-muted);
}